<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <app-icon></app-icon>
    </div>
    <div class="col-xs-4">
      <form-select></form-select>
    </div>
    <div class="col-xs-4">
      <template-interporation></template-interporation>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <template-ref-var></template-ref-var>
    </div>
    <div class="col-xs-4">
      <value-binding></value-binding>
    </div>
    <div class="col-xs-4">
      <event-binding></event-binding>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <twoway-binding></twoway-binding>
    </div>
    <div class="col-xs-4">
      <ng-if></ng-if>
    </div>
    <div class="col-xs-4">
      <ng-for></ng-for>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <ng-switch></ng-switch>
    </div>
    <div class="col-xs-4">
      <ng-class></ng-class>
    </div>
    <div class="col-xs-4">
      <ng-style></ng-style>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <ng-model></ng-model>
    </div>
    <div class="col-xs-4">
      <pipe></pipe>
    </div>
  </div>
</div>
